body {
    background-color: rgb(36, 36, 36);
}

.apple>h1 {
    color: brown;
}

.apple {
    text-align: center;
}

.hard {
    display: block;
    text-align: center;

}

.hard>img {
    display:inline-block;
    max-width: 1000px;
    max-height: 1000px;
}