body {
    background-color: rgb(36, 36, 36);
}


/* .secs {
    display:inline-block;
    color: rgb(24, 83, 211);
} */


.apple>h1 {
    display: block;
    color: brown;
}

.apple {
    text-align: center;

}